/* ------MEDIA QUERIES----- */
@media (min-width: 320px) and (max-width: 540px) {

    .grid__conteiner {
        gap: 20px;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
        grid-template-areas: "titulo titulo "
                            "titulo titulo"
                            "uno uno"                             
                            "uno uno"
                            "dos dos"
                            "tres tres"
                            "cuatro cuatro"
                            "cinco cinco"
                            "cinco cinco";
        
        grid-template-columns: 2fr;
        padding: 2rem 1rem 2rem 1rem;
        
    }

    .card-deck {
        margin: 0 auto;
        width: 20rem;
    }
    
    .bloque{
        
        p{
            font-size: 0.5rem;
            font-weight: 500;
        }
    }
    

    

    .blog__titulo h1 {
        font-size: 2.5rem;

    }
    


    
    footer {
        display: grid;
        grid-template-areas: "footer_uno footer_uno footer_uno"
                            "footer_dos footer_dos footer_dos" 
                            "footer_tres footer_tres footer_tres";
        height: 100%;

    }

  
}    


@media screen and (max-width: 1024px) {

        .grid__conteiner {
            gap: 20px;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "titulo titulo titulo"
                                "uno uno uno"                              
                                "uno uno uno" 
                                "dos dos dos" 
                                "tres tres tres"
                                "cuatro cuatro cuatro"
                                "cuatro cuatro cuatro"
                                "cinco cinco cinco"
                                "cinco cinco cinco" ;
            padding: 2rem 1rem 2rem 1rem;
            grid-template-columns:  1fr 1fr;
        }

      

        .bloque{
        
            p{
                font-size: 1.5rem;
                font-weight: 300;
            }
        }
    }
