/* ------MEDIA QUERIES----- */
@media (min-width: 320px) and (max-width: 540px) {
    
    

    .blog__titulo {
        font-size: 1rem;

    }

    .grid__conteiner {
        gap: 20px;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
        grid-template-areas: "titulo titulo "
                            "titulo titulo"
                            "uno uno"                             
                            "uno uno"
                            "dos dos"
                            "tres tres"
                            "cuatro cuatro"
                            "cinco cinco"
                            "cinco cinco";
        
        grid-template-columns: 1fr 1fr;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
    }
    .bloque{
        p{
            font-size: 1.3rem;
            font-weight: 500;
        }

    

    .servicios{
        display: flex; 
        flex-direction:column;
        justify-content: center;

    }

    .portada__quienesSomos{
        display: flex;
        
    }
    }
    footer {
        display: grid;
        grid-template-areas: "footer_uno footer_uno footer_uno"
                            "footer_dos footer_dos footer_dos" 
                            "footer_tres footer_tres footer_tres";
        height: 100%;

    }
}    







@media (min-width: 541x) and (max-width: 720px) {



    .grid__conteiner {
    gap: 20px;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas: "titulo titulo "
                        "titulo titulo"
                        "uno uno"                              
                        "uno uno" 
                        "dos dos" 
                        "tres tres"
                        "cuatro cuatro"
                        "cuatro cuatro"
                        "cinco cinco"
                        "cinco cinco" ;
    padding: 2rem 1rem 2rem 1rem;
    }
    grid-template-columns:  2fr 2fr 2fr;

    .blog__titulo{
        font-size: 25rem;
    }
    
    .bloque{
    
     p{
        font-size: 1rem;
        font-weight: 400;
    }
    }


    footer {
        display: grid;
        grid-template-areas: "footer_uno footer_uno footer_uno"
                        "footer_dos footer_dos footer_dos" 
                        "footer_tres footer_tres footer_tres";
    
        grid-template-rows: 1.5rem;
        height: 100%;   
    }
}
