$color-principal: rgba(11, 156, 67, 0.726);
$color-secundario: rgb(12, 226, 12);
$color-terciario: white;
$font-size: 1.2rem;
$principal-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;