@import 'abstracts/variables';
@import 'abstracts/helppers';
@import 'layouts/footer';
@import 'pages/index';
@import 'pages/quienes-somos';
@import 'pages/servicios';
@import 'pages/grid-blog';
@import 'pages/contacto';
@import 'abstracts/mediaqueries';
    

*{
    margin: 0;
    padding: 0;
    font-size: $font-size;
    box-sizing: border-box;
}
 

    
    
    

   
    
    
    
    
    
    
    

    