@import 'variables';
@import 'footer';
@import 'mediaqueries';
    

*{
    margin: 0;
    padding: 0;
    font-size: $font-size;
    box-sizing: border-box;
}
 
body {
    
  
    background-image: url(../recursos/naturaleza.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $principal-font;
    

    .nav__animacion:hover{
        transition-duration: 0.4s;
        transform: scale(1.2);
    }
    
    ul {
        li{
            padding: 1rem;
            
            a {
                text-decoration: none;
                background-image: linear-gradient(blue, blue);
                background-position: 0% 80%;
                background-repeat: no-repeat;
                background-size: 0% 1px;
                transition: background-size .1s;
                &:hover, &:focus {
                    background-size: 100% 2px;
                    transition: 0.4s;
                }
                
            }
        
        } 
    }

    
    
    .carousel-item, .carousel-inner, .carousel-inner img{ 
        height: 85vh;
        object-fit: cover;
    }
    
    
    h1{
        font-size: 50px;
        width: 100%;
    }
    
    a:visited{
        color: red;
    }
    

    /* ---------------------QUIENES SOMOS--------------------------*/
    
     .card__background--presentacion{
         background-color: $color-principal;
     }
    
    
    .card-deck {
        margin: 0 auto;
    }
    
    /* ----------------------SERVICIOS----------------------------*/
    

    .button__style {
        cursor: pointer;
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        
        &:hover {
            background-color: $color-secundario;
            color: $color-terciario;
        }
        
    }

    .img {

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        border-radius: 5px;
        box-shadow: 19px 19px 39px -13px rgba(0,0,0,0.75); 
        
        &__EIA{
            background-image: url(../recursos/EIA.jpg);
        }

        &__MedSon{
            background-image: url(../recursos/MedSon.jpg);
        }

        &__GesRes{
            background-image: url(../recursos/GesRes.jpg);
        }

        &__GesEfluLiq{
            background-image: url(../recursos/GesEfluLiq.jpg);
        }

        &__GesEfluGas{
            background-image: url(../recursos/GesEfluGas.jpg);
        }

        &__GesAmb{
            background-image: url(../recursos/GesAmb.jpg);
        }
    }

    .style__box{
        height: inherit;
    }

    


    /*----------------------BLOG----------------------------- */
    
    .grid__conteiner{
        @include grid (grid, 20px, 1fr 1fr 1fr 1fr, 1fr 2fr 2fr 2fr 2fr,"titulo titulo titulo titulo"
        "uno uno dos dos" 
        "uno uno tres tres"
        "cuatro cuatro cinco cinco"
        "cuatro cuatro cinco cinco");
        padding: 2rem 1rem 2rem 1rem;
    }
    
    .blog__titulo {
        grid-area: titulo;
        text-align: center;
        color: $color-terciario;
    }
    

    .bloque {

        display: flex;
        align-items: flex-end;
        justify-content: center; 
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5px;
        margin: 10px 10px 10px 10px;

        p {
           font-family:Verdana, Geneva, Tahoma, sans-serif;
           font-style: italic;
           font-size: 2rem; 
           color: black;
           font-weight: 500;
        }
        
        &__uno{
            grid-area: uno;   
            background-image: url(../recursos/elemento-ecologico-fondo-conservacion-medio-ambiente_24877-55298.jpg); 
            
        }
        
        &__dos{
            grid-area: dos;
            background-image: url(../recursos/cultivo-de-algas.png);
        }

        &__tres{
            grid-area: tres;
            background-image: url(../recursos/compostaje668x200x80.jpg);
            
            p{
                color: $color-terciario;
            }
        }

        &__cuatro{
            grid-area: cuatro;
            background-image: url(../recursos/Granos.jpg);
        }
    
        &__cinco{
            grid-area: cinco;
            background-image: url(../recursos/Guana.jpg);
    
        }
    
    }


    .grid__conteiner a {
        text-decoration: none;
        text-align: center;
    }
    
    
    /*----------------------CONTACTO--------------------------*/
    
    .card__background {
       background-color: rgba(188, 231, 245, 0.582);
    
    }
    
    .container {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
}